@charset "UTF-8";
* {
  margin: 0;
  border: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: large;
}

/* Estilos a la barra NAV / HEADER */
.navbar navbar-expand-lg bg-body-tertiary fixed-top {
  margin-bottom: 1rem;
}

/* ESTILOS A CARROUSEL / NOVEDAD */
@media (min-width: 768px) {
  .carousel-item img {
    max-height: 80vh;
    /* Establece la altura máxima al 80% de la altura visible del viewport */
    object-fit: contain;
    /* Ajusta el tamaño de la imagen manteniendo su relación de aspecto */
  }
}
/* Estilos a la sección Novedad */
.novedad {
  margin-top: 3rem; /* Separa esta sección del Header */
}

/* Cambiar el color de fondo de los botones del carrusel */
.carousel-control-prev,
.carousel-control-next {
  background-color: none;
  /* Cambia el color de fondo a rojo */
}

/* Cambiar el color de las flechas de los botones del carrusel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
  /* Cambia el color de las flechas a blanco */
}

/* Estilo Carrousel / Novedad - fondo a la versión de escritorio */
.desktop-image {
  background-color: black;
  /* Aplica un fondo negro */
}

/* Estilos para la caption personalizada */
.custom-caption {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  transform: translateX(312%);
  padding: 1rem;
  background-color: white;
  border: 1px solid black;
  max-width: 20%;
  max-height: 25%;
  text-align: left;
  display: inline-block;
}

/* FIN ESTILOS "CARROUSEL / NOVEDAD" */
/* ESTILOS "VIDEO REVIEW */
.video-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* Proporción 16:9 para videos */
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none; /* Elimina el borde del iframe */
}

/* FIN ESTILOS "VIDEO REVIEW */
/* ESTILOS DE NOTICIAS */
.noticias {
  text-align: center;
  /* Centra el texto horizontalmente */
}

.carousel-item {
  padding: 20px;
}

/* ESTILOS OTROS TÍTULOS*/
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  /* Alinea los elementos al inicio del contenedor */
}

.card-container h2 {
  width: 100%;
  /* Asegura que el título ocupe todo el ancho del contenedor */
  text-align: center;
  /* Centra el texto horizontalmente */
  margin-bottom: 20px;
  /* Espacio entre el título y las tarjetas */
}

/* ESTILOS CATÁLOGO */
.catalogo {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* - ESTILOS PÁGINA: CATÁLOGO ----------*/
.catalogo_main {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

/* ------------ ESTILOS PÁGINA: CONTACTO ----------*/
.contacto_main {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.que_es_main {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

/*  ESTILOS PÁGINA: TÍTULO_01 */
.titulo_main {
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin-left: 3rem;
}

.comprar_novedad ul {
  list-style: none;
}

.container-gallery {
  width: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-perspective: 1000;
  perspective: 1000;
  position: relative;
}

.popup {
  width: 250px;
  margin: 0 -25px;
  position: relative;
  box-shadow: 0px 0px 40px -5px rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.popup:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translateZ(5px) translateY(-20px) scale(1.05);
  transform: translateZ(5px) translateY(-20px) scale(1.05);
}

.popup-1,
.popup-4 {
  -webkit-transform: translateZ(1px);
  transform: translateZ(1px);
}

.popup-2,
.popup-5 {
  -webkit-transform: translateZ(2px) translateY(-5px);
  transform: translateZ(2px) translateY(-5px);
}

.popup-3 {
  -webkit-transform: translateZ(3px) translateY(-10px);
  transform: translateZ(3px) translateY(-10px);
}

.popup-1:hover ~ .popup-2 {
  -webkit-transform: translateZ(4px) translateY(-15px);
  transform: translateZ(4px) translateY(-15px);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.popup-4 {
  -webkit-box-ordinal-group: 6;
  -ms-flex-order: 5;
  order: 5;
}

.popup-4:hover ~ .popup-5 {
  -webkit-transform: translateZ(3px) translateY(-15px);
  transform: translateZ(3px) translateY(-15px);
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

/* MODAL PARA LA GALERÍA DE IMAGENES DE TÍTULO */
.modal {
  display: none;
  position: fixed;
  z-index: 99999;
  padding-top: 2rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

/* Estilos para la imagen dentro del modal */
.modal-content {
  margin: auto;
  display: block;
  width: 90%;
  /* Por defecto, la imagen ocupa el 90% de la pantalla en dispositivos móviles */
  max-width: 90%;
  /* Límite máximo del ancho para dispositivos móviles */
}

/* Estilos específicos para dispositivos de tamaño medio (tablets) y grandes (desktop) */
@media (min-width: 768px) {
  .modal-content {
    width: 45%;
    /* En dispositivos de tamaño medio y grande, la imagen ocupa el 45% de la pantalla */
    max-width: 45%;
    /* Límite máximo del ancho para tablets y desktop */
  }
}
.close {
  position: absolute;
  top: 10px;
  /* Ajusta la distancia superior según sea necesario */
  right: 50%;
  /* Ajusta la distancia derecha según sea necesario */
  color: grey;
  font-size: 30px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
  z-index: 999;
  /* Asegura que el botón esté por encima de la imagen */
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
