/* ------------ ESTILOS PÁGINA: CONTACTO ----------*/

// Estilos para el contenedor principal
.contacto_main {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

// Estilos para los elementos de texto centrado
.text-center {
    text-align: center;
    color: $color-white;
}

// Estilos para el contenedor de formulario y redes sociales
.container {
    .row {

        // Estilos para la columna del formulario
        .col-md-6 {
            h3 {
                color: $color-white;
            }

            .mb-3 {
                .form-label {
                    color: $color-grey;
                }
            }
            
        }
    }
}

// Estilos para los márgenes
.my-4 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    h2 {
        color: $color-white;
    }
}

// Estilos para Botón Enviar ver en _boton.scss


// Estilos para las redes sociales
.row {
    display: flex;
    justify-content: center;

    a {
        .social_icons {
            width: 30px;
            height: auto;
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}