/* - ESTILOS PÁGINA: CATÁLOGO ----------*/

.catalogo_main {
    margin-top: 5rem;
    margin-bottom: 5rem;
}


/* ------------ ESTILOS PÁGINA: CONTACTO ----------*/

.contacto_main {
    margin-top: 5rem;
    margin-bottom: 5rem;
}


.que_es_main {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

