// COMPRAR NOVEDAD
/* .comprar_novedad {
    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: max-content;
        margin: 0 auto;
        background-color: none;

    }

} */