/* Estilos a la barra NAV / HEADER */

//IMPORTS:
@import "../base/colors";


// Estilos generales del header
header {
    
    h1 {
        color: $color-white !important;
        font-size: 20px;
        font-weight: normal;

    }
}

// Aplicar degradé a la barra de navegación
.navbar {
    background: linear-gradient(to right, $color-red, $color-dark);
    
}

// Estilos para el texto de la lista en la barra de navegación
.navbar-nav {
    
    .nav-link {
        // Cambiar el color del texto
        color: $color-white;

        // Cambiar el tamaño de la fuente
        font-size: 16px;

        // Agregar margen entre los elementos de la lista
        margin-right: 20px;

        // Cambiar el estilo de fuente (negrita, cursiva, normal, etc.)
        font-weight: bold;

        // Cambiar la decoración del texto (subrayado, ninguno, etc.)
        text-decoration: none;

        // Transiciones o animaciones si lo deseas
        transition: color 0.3s ease;

        // Pseudo-clases si necesitas estilos diferentes para diferentes estados
        &:hover {
            color: $color-grey;
        }
    }

    // Estilos para el enlace activo
    .nav-link.active {
        // Estilos específicos para el enlace activo
        color: $color-grey;
        font-weight: bold;
    }
}