/* Estilos a la barra NAV / HEADER */

// Estilos generales del header
header {
    h1 {
        color: $color-white !important;
    }
}

// Aplicar degradé a la barra de navegación
.navbar {
    background: linear-gradient(to right, $color-red, $color-grey);

}

// Estilos para el texto de la lista en la barra de navegación
.navbar-nav {
    .nav-link {
        // Cambiar el color del texto
        color: $color-white !important;
        // Cambiar el estilo de fuente (negrita, cursiva, normal, etc.)
        font-weight: bold !important;
        // Cambiar la decoración del texto (subrayado, ninguno, etc.)
        text-decoration: none !important;
        // Transiciones o animaciones si lo deseas
        transition: color 0.3s ease !important;

        // Pseudo-clases si necesitas estilos diferentes para diferentes estados
        &:hover {
            color: $color-grey !important;
        }
    }

    // Estilos para el enlace activo
    .nav-link.active {
        // Estilos específicos para el enlace activo
        color: $color-grey !important;
    }
}

// NAV BAR TOGGLER:

.navbar-toggler {
    color: $color-white !important;
    border: none !important;
}

.navbar-toggler:hover {
    color: $color-red;
    background-color: $color-orange;
}