// HEADER - NAV:
@import "../base/colors";

header {
    background-color: $color-grey;
}

h1 {
    font-size: large;
    }

/* Estilos a la barra NAV / HEADER */
.navbar navbar-expand-lg bg-body-tertiary fixed-top {
    margin-bottom: 1rem;
  } 