/* ESTILOS DE NOTICIAS */

.noticias {
  text-align: center;
  background-color: none !important;
  /* Centra el texto horizontalmente */
}

.carousel-item {
  padding: 20px;
}

.noticias {
  h2 {
    color: $color-white;
  }

  .carousel-inner {
    color: $color-white;
  }

}