// TARJETAS ESTILOS:
@mixin border-bradius($border, $border-radius) {
    border: $border;
    border-radius: $border-radius;
}

.card {
    @include border-bradius($border, $border-radius);
    box-shadow: 0 6px 6px $color-black !important;

    .card-body {
        background-color: $color-dark;

        .card-title {
            color: $color-white !important;
            font-weight: bold !important;
        }

        .card-text {
            background-color: none;
            color: $color-white !important;
        }
    }
}