// TARJETAS ESTILOS:
@mixin border-bradius($border, $border-radius) {
    border: $border;
    border-radius: $border-radius;
}

.card {
    @include border-bradius($border, $border-radius);
    box-shadow: 0 6px 6px $color-black !important;

    .card-body {
        background-color: $color-dark;

        .card-title {
            color: $color-white !important;
            font-weight: bold !important;
        }

        h5.card-title {
            margin-bottom: 0.5rem;
            font-size: 1.25rem; // Tamaño del título
        }

        p.card-text {
            color: $color-white !important;
            text-align: justify !important;
            padding: 5%;
        }

    }
}