
// ADAPTAR AL PROYECTO E IMPORTAR

/* PALETA DE COLORES */

$color-white:#fcf7d1;
$color-orange: #b52c00;
$color-red: #8c0005;
$color-grey: #a9a17a;
$color-dark-grey: #444444;
$color-dark: #222121;
$color-black: rgb(20, 20, 20);