/* MEDIA QUERIES  */

//Para la clase .COMPRAR NOVEDAD

/* Para dispositivos de escritorio */
@media (min-width: 768px) {
    .comprar_novedad {
        max-width: 40%; /* Limita el ancho máximo al 50% del contenedor padre */
        margin: auto; /* Centra horizontalmente la tarjeta */
    }
}

/* Para dispositivos móviles */
@media (max-width: 767px) {
    .comprar_novedad {
        width: 100%; /* Ocupa todo el ancho disponible */
    }
}
