/* VARIABLES */

// PALETA DE COLORES

$color-white:#fcf7d1;
$color-orange: #b52c00;
$color-red: #8c0005;
$color-grey: #a9a17a;
$color-dark-grey: #444444;
$color-dark: #222121;
$color-black: rgb(20, 20, 20);

// FUENTES TIPOGRÁFICAS
* {
    font-family: "Roboto", sans-serif;
}


h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

// Border y Border Radius
$border: 2px solid $color-red !important;
$border-radius: 5px !important;

//breakpoints


//medidas varias


//sombreado


